# Task 4.8 Grouping Data & Aggregating Variables

## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

## Step 1 importing pickle file from the previous Exercise

In [2]:
path = r'C:\Users\RUZANNA\OneDrive\Desktop\Careerfoundry\Python\Instacart Basket Anlysis-05.2023\02_Data'

In [3]:
ords_prods_merge=pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged_4.7.pkl'))

## Step 2 - aggregated mean of the order number

In [4]:
ords_prods_merge.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                16.559358
2                18.413176
3                18.279600
4                18.915890
5                16.497751
6                17.609390
7                18.303975
8                16.383301
9                17.022963
10               21.227447
11               17.311768
12               16.953613
13               17.727470
14               17.898097
15               17.290123
16               18.757796
17               16.808683
18               20.336389
19               18.258620
20               17.578959
21               23.644477

## Step 3- analyze the result

The differences when we grouby for the entire dataframe:
We have 21 department_id numbers,
The min/max number is the same as for a subset of the dataframe,
In case of department_id -17 the max is 99 whereas for a subset max No of department_id-17 was 98

In [5]:
ords_prods_merge.groupby('department_id').agg({'order_number':['mean', 'max', 'min']})

              order_number
                      mean   max  min
department_id
1                16.559358  99.0  2.0
2                18.413176  99.0  2.0
3                18.279600  99.0  2.0
4                18.915890  99.0  2.0
5                16.497751  99.0  2.0
6                17.609390  99.0  2.0
7                18.303975  99.0  2.0
8                16.383301  99.0  2.0
9                17.022963  99.0  2.0
10               21.227447  99.0  2.0
11               17.311768  99.0  2.0
12               16.953613  99.0  2.0
13               17.727470  99.0  2.0
14               17.898097  99.0  2.0
15               17.290123  99.0  2.0
16               18.757796  99.0  2.0
17               16.808683  99.0  2.0
18               20.336389  99.0  2.0
19               18.258620  99.0  2.0
20               17.578959  99.0  2.0
21               23.644477  99.0  2.0

## Step 4 - Creating loyalty flag

In [6]:
ords_prods_merge['max_order']=ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [7]:
#checking the creation of a new column called 'max_order'
ords_prods_merge.head(2)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,aisle_id,department_id,prices,exists,busiest_day,price_range_loc,Busiest days,Slowest days,busiest_period_of_day,max_order
0,2398795,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,both,...,77,7,9.0,both,Regularly busy,Mid range product,Non busiest days,Slowest days,Fewest order,10.0
1,473747,1.0,3.0,3.0,12.0,21.0,196.0,1.0,1.0,both,...,77,7,9.0,both,Regularly busy,Mid range product,Non busiest days,Slowest days,Average orders,10.0

In [8]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [9]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [10]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [11]:
ords_prods_merge.head(2)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,department_id,prices,exists,busiest_day,price_range_loc,Busiest days,Slowest days,busiest_period_of_day,max_order,loyalty_flag
0,2398795,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,both,...,7,9.0,both,Regularly busy,Mid range product,Non busiest days,Slowest days,Fewest order,10.0,New customer
1,473747,1.0,3.0,3.0,12.0,21.0,196.0,1.0,1.0,both,...,7,9.0,both,Regularly busy,Mid range product,Non busiest days,Slowest days,Average orders,10.0,New customer

## Step 5- Statistics for loyalty category

In [12]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean', 'max', 'min']})

                     prices
                       mean      max  min
loyalty_flag
Loyal customer    10.402162  99999.0  1.0
New customer      13.396333  99999.0  1.0
Regular customer  12.546842  99999.0  1.0

On average Loyal customes pay the least whereas the new customer pays the most. maybe loyal customers buy more items
and on average their product portfolio has the lowest average price

## Step 6 - Creating a Spending Flag

In [13]:
ords_prods_merge['average_price']=ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [14]:
ords_prods_merge.head(2)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,prices,exists,busiest_day,price_range_loc,Busiest days,Slowest days,busiest_period_of_day,max_order,loyalty_flag,average_price
0,2398795,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,both,...,9.0,both,Regularly busy,Mid range product,Non busiest days,Slowest days,Fewest order,10.0,New customer,6.372222
1,473747,1.0,3.0,3.0,12.0,21.0,196.0,1.0,1.0,both,...,9.0,both,Regularly busy,Mid range product,Non busiest days,Slowest days,Average orders,10.0,New customer,6.372222

In [15]:
ords_prods_merge.loc[ords_prods_merge['average_price'] < 10, 'spending_flag'] = 'Low spender'

In [16]:
ords_prods_merge.loc[ords_prods_merge['average_price'] >= 10, 'spending_flag'] = 'High Spender'

In [17]:
ords_prods_merge['spending_flag'].value_counts(dropna=False)

Low spender     29730505
NaN              2076096
High Spender      598258
Name: spending_flag, dtype: int64

In [18]:
ords_prods_merge.head(5)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,exists,busiest_day,price_range_loc,Busiest days,Slowest days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag
0,2398795,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,both,...,both,Regularly busy,Mid range product,Non busiest days,Slowest days,Fewest order,10.0,New customer,6.372222,Low spender
1,473747,1.0,3.0,3.0,12.0,21.0,196.0,1.0,1.0,both,...,both,Regularly busy,Mid range product,Non busiest days,Slowest days,Average orders,10.0,New customer,6.372222,Low spender
2,2254736,1.0,4.0,4.0,7.0,29.0,196.0,1.0,1.0,both,...,both,Least busy,Mid range product,Non busiest days,Slowest days,Fewest order,10.0,New customer,6.372222,Low spender
3,431534,1.0,5.0,4.0,15.0,28.0,196.0,1.0,1.0,both,...,both,Least busy,Mid range product,Non busiest days,Slowest days,Most orders,10.0,New customer,6.372222,Low spender
4,3367565,1.0,6.0,2.0,7.0,19.0,196.0,1.0,1.0,both,...,both,Regularly busy,Mid range product,Non busiest days,Non slowest days,Fewest order,10.0,New customer,6.372222,Low spender

## Step 7- Creating Frequency Flag

In [19]:
ords_prods_merge['median_order']=ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [20]:
ords_prods_merge.loc[ords_prods_merge['median_order'] > 20, 'Frequency_flag'] = 'Non-frequent customer'

In [21]:
ords_prods_merge.loc[(ords_prods_merge['median_order'] > 10) & (ords_prods_merge['median_order'] <= 20), 'Frequency_flag'] = 'Regular customer'

In [22]:
ords_prods_merge.loc[ords_prods_merge['median_order'] <= 10, 'Frequency_flag'] = 'Frequent customer'

In [23]:
ords_prods_merge.head(5)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,price_range_loc,Busiest days,Slowest days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_order,Frequency_flag
0,2398795,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,both,...,Mid range product,Non busiest days,Slowest days,Fewest order,10.0,New customer,6.372222,Low spender,20.5,Non-frequent customer
1,473747,1.0,3.0,3.0,12.0,21.0,196.0,1.0,1.0,both,...,Mid range product,Non busiest days,Slowest days,Average orders,10.0,New customer,6.372222,Low spender,20.5,Non-frequent customer
2,2254736,1.0,4.0,4.0,7.0,29.0,196.0,1.0,1.0,both,...,Mid range product,Non busiest days,Slowest days,Fewest order,10.0,New customer,6.372222,Low spender,20.5,Non-frequent customer
3,431534,1.0,5.0,4.0,15.0,28.0,196.0,1.0,1.0,both,...,Mid range product,Non busiest days,Slowest days,Most orders,10.0,New customer,6.372222,Low spender,20.5,Non-frequent customer
4,3367565,1.0,6.0,2.0,7.0,19.0,196.0,1.0,1.0,both,...,Mid range product,Non busiest days,Non slowest days,Fewest order,10.0,New customer,6.372222,Low spender,20.5,Non-frequent customer

In [24]:
ords_prods_merge.shape

(32404859, 26)

In [25]:
ords_prods_merge.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', '_merge', 'product_name', 'aisle_id',
       'department_id', 'prices', 'exists', 'busiest_day', 'price_range_loc',
       'Busiest days', 'Slowest days', 'busiest_period_of_day', 'max_order',
       'loyalty_flag', 'average_price', 'spending_flag', 'median_order',
       'Frequency_flag'],
      dtype='object')

In [ ]:
ords_prods_merge.drop(columns= {'_merge', 'aisle_id', 'exists'})

## Step 8-9

In [25]:
ords_prods_merge.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged_4.8.pkl'))

In [26]:
ords_prods_merge.shape

(32404859, 26)